.thumb-list-imagen{
height: 50px;
width: auto;
border-radius: 0.5rem;
vertical-align: middle;
}
.body{
    
    background-color: #1d1d1d;
}
.contenedor-listado{

padding: 1rem;
}

.contenedor-tabla{
width: 100%;
display: flex;
justify-content: center;
}

.table{
width: 100%;

    color: orange !important;
}

table .item-inactivo, table .item-noactual{
font-size: 1.2rem;
color: red;
text-align: center;
}

table .item-activo, table .item-actual{
font-size: 1.2rem;
color: green;
text-align: center;
}

.centrar-activo{
text-align: center ;
}

.centrar-actual{
text-align: center ;
}

.centrar-numero-banners{
text-align: center ;
}

.centrar-portada{
text-align:center;
}

thead tr{
border-bottom: orange solid 1px;
border-top: orange solid 1px;
}


td,th{
vertical-align: middle;
    background-color: #3b3b3b;
    color: orange !important;
}

h1{
    color: orange !important;
    
    background-color: #3b3b3b;
}


ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;    
    gap: 70px;
    justify-content: center;
    margin-bottom: 20px;
}

li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: rgb(0, 119, 255) !important;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
    color: rgb(0, 119, 255) !important;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
    color: rgb(0, 119, 255) !important;
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
    color: rgb(0, 119, 255) !important;
}

li .botones-header{
    position: relative;
    height: 2em;
    width: 10em;
    top: -10%;
    padding: 5px;
    
    color: orange !important;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover .botones-header {
    transform: translateX(0.15em);
    color: rgb(0, 119, 255) !important;
}